<!DOCTYPE html>
<html>
<head>
    <title>Input Form</title>
</head>
<body>
    <h1>Enter your text</h1>
    <form method="post" action="{% url 'input_form' %}">
        {% csrf_token %}
        <input type="text" name="user_input" required>
        <button type="submit">Submit</button>
    </form>
    <h1>Results</h1>
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            {% for input in user_inputs %}
            <tr>
                <td>{{ input.id }}</td>
                <td>{{ input.text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>