{% extends 'base.html' %}
{% block content %}
<h1>Manage Subscription</h1>
<form method="post">
    {% csrf_token %}
    {% if gold_seller and gold_seller.is_subscription_active %}
        <p>Subscription: {{ gold_seller.get_subscription_type_display }}</p>
        <p>Current Plan: {{ gold_seller.get_subscription_plan_display }}</p>
        <p>Subscription End Date: {{ gold_seller.subscription_end_date }}</p>
        <button type="submit" name="action" value="cancel" onclick="return confirm('Are you sure you want to cancel your subscription?');">Cancel Subscription</button>
    {% else %}
        <p>Subscription: Basic</p>
        <button type="submit" name="action" value="buy">Buy Gold Subscription</button>
    {% endif %}
</form>
{% endblock %}