{% extends 'base.html' %}
{% block title %}Property Details{% endblock %}
{% block content %}
{% load static %}


<h1>Property Details</h1>
<p>Location: {{ property.location }}</p>
<p>Price: {{ property.price }}</p>
<p>Size: {{ property.size }}</p>
<p>Rooms: {{ property.room_num }}</p>
<p>Type: {{ property.property_type }}</p>
<p>Verified: {{ property.is_verified }}</p>

<h2>Image</h2>
<ul>
    {% if property.image_paths %}
        {% for image_path in property.image_paths %}
            <li>
                <img src="{{ MEDIA_URL }}{{ image_path }}" alt="Property Image" style="max-width: 200px;">
            </li>
        {% endfor %}
    {% else %}
        <li>No image available.</li>
    {% endif %}
</ul>
<!-- <ul>
    {% if property.image_paths and property.image_paths.0 %}
        <img src="{{ MEDIA_URL }}{{ property.image_paths.0 }}" alt="Property Image" style="max-width: 200px;">
    {% else %}
        <p>No image available.</p>
    {% endif %}
</ul> -->

<a href="{% url 'property_edit' property.property_id %}">Edit</a>
<a href="{% url 'property_delete' property.property_id %}">Delete</a>
<a href="{% url 'property_list' %}">Back to List</a>
{% endblock %}